
.footer {
background: #fff;
position: relative;
text-align: center;
padding-top: 30px;
padding-bottom: 0px;
border-right: 20px solid white;
border-left: 20px solid white;
}

.footer p {
color: #222222;
font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
line-height: 1.5;
}

.row {
display: flex;
justify-content: space-between;
padding: 0 20px; /* Adjust as needed */
}

.columns {
flex: 1; /* Flexbox for responsive layout */
padding: 10px; /* Adjust spacing as needed */
}

.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.fa-heart {
color: red;
font-size: 15px;
}

@media only screen and (max-width: 64em) {
    .footer {
        padding-top: 10px;
        text-align: center;
    }
}